body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-image: url(https://pbs.twimg.com/media/FdkBlacaEAEWVry?format=jpg&name=large);
    background-size: 100%;
}

/* Header */
.container {
    line-height: 150%;
} 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    background-color: #d5bcb8;
}
.header h1 {
    color: #C28B7C;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    letter-spacing: .1em;
}

/* Content atau isi tengah */
.p{
    line-height: 1.5em;
    letter-spacing: 0.03em;
    font-size: 18px;
}
h2{
    color: #C28B7C;
}
.bag_kiri {
    float: left;
    width: 180px;
    margin: 0;
    padding: 2em;
}
#potow{
    padding-left: 10px;
}
.content {
    margin-left: 250px;
    border-left: 1px solid #d4d4d4;
    padding: 1em;
    overflow: hidden;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #b98981;
    color: white;
}
li a:hover:not(.active) {
    background-color: #b98981;
    color: white;
}

/* Bawah */
.logo-contact{
   display: flex;
}

.logo{
    height: 25px;
}

footer {
   position: fixed;
   height: 50px;
   line-height: 50px;
   background: #d5bcb8;
   color: #C28B7C;
   position: absolute;
   bottom: 0px;
   width: 100%;
   text-align: center;
   font-family: optional;
}